<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>수정페이지</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div th:replace="~{nav.html :: navbar}"></div>
<div class="edit">
    <h4>수정페이지</h4>
    <img src="https://placehold.co/300">
    <h4 th:text="${item.title}">금도금 바지</h4>
    <p th:text="${item.price}">7억</p>
    <form action="/update" method="POST">
        <input type="hidden" name="id" th:value="${item.id}">
        <div class="form-group">
            <label>상품명:<input type="text" class="form-control" id="title" name="title" th:value="${item.title}">
            </label>
            <label>가격:<input type="text" class="form-control" id="price" name="price" th:value="${item.price}">
            </label>
            <button type="submit" class="btn btn-primary">수정</button>
        </div>
    </form>
</div>
</body>
</html>