<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>List</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{nav.html :: navbar}"></div>
<div class="card" th:each="item : ${items}">
    <a th:href="@{/detail/{id}(id=${item.id})}">
        <img src="https://placehold.co/300">
        <div>
            <h4 th:text="${item.toString()}">품목명</h4>
            <p th:text="${item.price}">판매가</p>
        </div>
    </a>
    <div>
        <form th:action="@{/edit/{id}(id=${item.id})}" method="GET">
            <button type="submit">수정</button>
        </form>
    </div>
    <div>
        <form action="/delete" method="POST">
            <input type="hidden" name="id" th:value="${item.id}"/>
            <button type="submit" onclick="return confirm('정말 삭제하시겠습니까?');">삭제</button>
        </form>
    </div>
</div>
</body>
</html>
